<div class="row">
  <div class="col-xs-12">
    <h2>Recipes</h2>
    <%=link_to('Add Recipe', new_recipe_path) %>
  </div>
  
  <div class="col-xs-12">
    <%= page_entries_info @recipes, model: 'Recipe' %>
  </div>
  <div class="col-xs-12">
    <%= will_paginate(@recipes) %>
  </div>
    
  <div class="col-xs-12">
    <table class="data-grid">
      <thead>
        <tr>
          <th class='padding-10' colspan='2'>Recipe Name</th>
          <th class='padding-10'>Manage</th>
        </tr>
      </thead>
      <tbody>
        <% @recipes.each do |recipe| %>
          <tr class="<%=cycle('odd','even') %>">
            <td class='padding-10'><%=h recipe.title %></td>
            <td class='padding-10'><%=edit_link(edit_recipe_path(recipe), page: params[:page]) %></td>
            <td class='padding-10'><%=delete_link(recipe_path(recipe, page: params[:page])) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
