<!DOCTYPE html>
<html>
  <head>
    <title>Recipr</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="main-container" class="container no-padding background-white">
      <div class="header no-margin no-padding">
        <%= link_to root_path do %>
          <div class='header-logo'></div>
        <% end %>
      </div>
      
      <div class="pages-nav">
        <ul>
          <% if user_signed_in? %>
            <li><%= link_to('Manage Recipes', recipe_index_path) %></li>
          <% end %>
        </ul>
      </div>
      
      <div class="row padding-10">
        <div class="col-xs-8">
          <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> 
          <% else %>
           <%= link_to('Login', new_user_session_path)  %>  
          <% end %>
        </div>
      
        <div class="col-xs-4">
          <%= render partial: 'shared/search_bar' %>
        </div>
      </div>
      
      <div class="row padding-15">
      	<div class="col-xs-12">
          <%= render partial: 'layouts/flash_messages', flash: flash %>
          <div id="recipr_contents">
      		  <%= yield %>
          </div>
      	</div>
      </div>
      <div class="row padding-15">
        <div class="col-xs-12">
        </div>
      </div>
    </div><!-- end container -->
    
  </body>
</html>
